$orange-0: #fef7f1;
$orange-10: #fdecdd;
$orange-50: #ffa857;
$orange-60: #ff9029;
$orange-70: #ff810a;
$orange-90: #572c05;
$green-0: #f7fef1;
$green-10: #f0fde2;
$green-50: #95f037;
$green-90: #294c06;
$blue-0: #f5fafe;
$blue-10: #e2f0fd;
$blue-50: #52a5f2;
$blue-90: #042543;
$amethyst-0: #faf5fe;
$amethyst-10: #efe2fd;
$amethyst-50: #9e54f3;
$amethyst-90: #30075f;
$amethyst-90-disabled: rgb(48, 7, 95, 0.5);
$neutral-0: #ffffff;
$neutral-10: #f7f7f7;
$neutral-20: #dbdbdb;
$neutral-30: #b8b8b8;
$neutral-90: #292929;
$neutral-100: #151515;
$error: #ea4d4d;
$success: $green-50;
$bg-green: rgba(240, 253, 226, 0.8);
$bg-blue: rgba(226, 240, 253, 0.8);
$bg-amethyst: rgba(239, 226, 253, 0.8);
$blue-footer: rgba(226, 240, 253, 0.5);
