@import 'colors';

#hero {
    background-color: $orange-10;
    position: relative;
}

.hero-background {
    position: absolute;
    top: 0px;
    left: 40vw;
    width: 60vw;
    height: 100%;
    background-color: $orange-50;
    z-index: 0;
}

.container-hero {
    padding: 120px 32px;
    & .left {
        grid-column-start: 3;
        grid-column-end: 7;
        margin-bottom: 20px;
        & .pattern {
            position: relative;
            display: flex;
            margin-bottom: 60%;
            & img {
                z-index: 1;
            }
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 61.935%;
                left: -36.73%;
                background-image: url(/assets/hero-pattern.svg);
                background-size: cover;
                background-position: right bottom;
                z-index: 0;
            }
        }
    }
    & .right {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        grid-column-start: 7;
        grid-column-end: 13;
        gap: 16px;
    }
}

.hero-button-spacing {
    margin-top: 40px;
}
